.container_proyectos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.proyectos .title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proyectos .title .button button{
  background: var(--primario);
  padding: 10px 15px;
  border-radius: 15px;
  color: var(--blanco);
  transition: all .3s;
}

.proyectos .title .button button:hover{
  background: var(--oscuro);
}

.proyectos .tabla {
  margin-top: 30px;
  background: var(--blanco-dos);
  border-radius: 20px;
}

.proyectos .tabla table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.proyectos .tabla table thead th {
  color: var(--texto-claro);
  font-weight: 400;
  font-size: 0.9em;
}

.proyectos .tabla table th,
.proyectos .tabla table td {
  padding: 15px 0;
  text-align: center;
}

.proyectos .tabla table td.si span {
  background: var(--success);
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--blanco);
}

.proyectos .tabla table td.no span {
  background: var(--danger);
  padding: 5px 8px;
  border-radius: 8px;
  color: var(--blanco);
}

.proyectos .tabla table td button svg {
  color: var(--primario);
}

.proyectos .tabla table th {
  text-transform: capitalize;
}

.proyectos .tabla table tbody tr {
  color: var(--oscuro);
  font-size: 0.9em;
  cursor: pointer;
}

.proyectos .tabla table tbody tr td {
  text-transform: capitalize;
}

.proyectos .tabla table tbody tr td.aprobado span,
.proyectos .tabla table tbody tr td.finalizado span  {
  background: var(--success);
  padding: 3px 5px;
  border-radius: 8px;
  color: var(--white);
}

.proyectos .tabla table tbody tr td.pendiente span {
  background: var(--warning);
  padding: 3px 5px;
  border-radius: 8px;
  color: var(--white);
}

.proyectos .tabla table tbody tr td.buttons button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

@media screen and (max-width: 924px) {
  .proyectos .tabla table {
    border: 0;
  }
  .proyectos .tabla table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .proyectos .tabla table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .proyectos .tabla table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .proyectos .tabla table tbody tr td.buttons button {
    justify-content: end;
  }

  .proyectos .tabla table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* modal */

.proyectos .modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000048;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.proyectos .modal-overlay .modal {
  width: 720px;
  max-width: 90%;
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  animation: animate 0.4s ease;
  max-height: 620px;
  overflow-y: auto;
}

.proyectos .modal-overlay .modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--gris);
  transition: all 0.4s;
}

.proyectos .modal-overlay .modal .close-modal:hover svg {
  color: var(--primario);
}

.proyectos .modal .content-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.proyectos .modal .content-modal .input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.proyectos .modal .content-modal .input input,
.proyectos .modal .content-modal .input textarea,
.proyectos .modal .content-modal .input select {
  box-sizing: border-box;
  width: 100%;
  height: 2.625em;
  padding: 0 0.75em;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}

.proyectos .modal .content-modal .input textarea {
  height: 120px;
  padding-top: 10px;
  outline: none;
  margin: 10px 0;
}

.proyectos .modal .content-modal .right,
.proyectos .modal .content-modal .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}

.proyectos .modal .content-modal .right .inputs {
  width: 100%;
  display: flex;
  gap: 25px;
}

.proyectos .modal .content-modal .right .input {
  width: 100%;
  margin-left: 15px;
}

.proyectos .modal .content-modal .right .input p {
  margin: 0;
}

.proyectos .modal .content-modal .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 25px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.proyectos .modal .content-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.proyectos .modal .content-modal .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--gris);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.proyectos .modal .content-modal .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.proyectos .modal .content-modal .switch input:checked + .slider {
  background: var(--success);
}

.proyectos .modal .content-modal .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.proyectos .modal .content-modal .right .input button {
  width: 95%;
  background: var(--oscuro);
  border-radius: 12px;
  text-align: center;
  height: 45px;
  padding: 0;
  color: var(--blanco);
  cursor: pointer;
  margin: 18px 0;
  transition: all 0.3s;
}
.proyectos .modal .content-modal .right .input button:hover {
  background: var(--oscuro-dos);
}
.proyectos .modal .content-modal .right .input .update {
  background: var(--primario);
}

.proyectos .modal .content-modal .right .input .update:hover {
  background: var(--secundario);
}

.proyectos .modal .content-modal .right .input input {
  width: 95%;
  margin: 10px 0;
}

@media (max-width: 620px) {
  .proyectos .modal .content-modal {
    grid-template-columns: 1fr;
  }
  .proyectos .modal .content-modal .right .input button {
    width: 97%;
  }
  .proyectos .modal-overlay .modal {
    max-height: 450px;
    overflow-y: auto;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
