.container_user .left,
.container_user .right {
  width: 100%;
  background: var(--blanco);
  height: 100%;
}

.dashboard_user main {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 15px;
  padding-right: 20px;
  margin-top: 50px;
}

.container_user .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.container_user .right {
  width: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container_user .container_bienvenida {
  display: flex;
  gap: 10px;
}

.container_user .bienvenida {
  width: 320px;
  height: 280px;
  border-radius: 20px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 151, 2, 1) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("../../../assets/images/Simple.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.container_user .bienvenida .title h2 {
  color: var(--oscuro);
  font-size: 1.6em;
}

.container_user .bienvenida .title p {
  color: var(--oscuro);
  font-size: 1.2em;
  font-weight: 600;
}

.container_user .bienvenida .button {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_user .bienvenida .button button {
  background: var(--oscuro);
  color: var(--blanco);
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.container_user .bienvenida .button button:hover {
  background: var(--oscuro-dos);
}

/* items */

.container_user .items_list {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.container_user .items_list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  margin: 0;
  margin-top: 20px;
}

.container_user .items_list ul li {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 64px;
  background: #fff;
  border-radius: 20px;
}

.container_user .items_list ul li .icono {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primario);
  display: grid;
  place-items: center;
  color: var(--oscuro);
  margin-left: 10px;
}

.container_user .items_list ul li .text span,
.container_user .items_list ul li .text p {
  margin: 0;
}

.container_user .items_list ul li .text span {
  font-size: 1em;
  font-weight: 500;
}

.container_user .items_list ul li .text p {
  font-size: 1.2em;
  font-weight: 500;
  margin: 3px 0;
}

/* lista prospectos */

.container_user .prospectos_list {
  width: 100%;
  background: var(--blanco-dos);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.container_user .prospectos_list .tabla_prospectos {
  width: 100%;
  display: flex;
}

.container_user .prospectos_list .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_user .prospectos_list .title h2 {
  font-weight: 500;
  padding: 0 15px;
}

.container_user .prospectos_list .title button {
  background: var(--gris);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  margin-right: 15px;
  border-radius: 8px;
  transition: all 0.3s;
}

.container_user .prospectos_list .title button:hover {
  background: var(--primario);
  color: var(--blanco);
}

.container_user .prospectos_list .tabla_prospectos table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.container_user .prospectos_list .tabla_prospectos table thead th {
  color: var(--texto-claro);
  font-weight: 400;
  font-size: 0.9em;
}

.container_user .prospectos_list .tabla_prospectos table th,
.container_user .prospectos_list .tabla_prospectos table td {
  padding: 15px 0;
  text-align: center;
}

.container_user .prospectos_list .tabla_prospectos table td.si span {
  background: var(--success);
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--blanco);
  text-transform: capitalize;
}

.container_user .prospectos_list .tabla_prospectos table td.no span {
  background: var(--danger);
  padding: 5px 8px;
  border-radius: 8px;
  color: var(--blanco);
  text-transform: capitalize;
}

.container_user .prospectos_list .tabla_prospectos table th {
  text-transform: capitalize;
}

.container_user .prospectos_list .tabla_prospectos table tbody tr {
  color: var(--oscuro);
  font-size: 0.9em;
  cursor: pointer;
}

/* ranking */

.container_user .ranking {
  margin-top: 20px;
  width: 100%;
  height: 280px;
  background: var(--blanco-dos);
  border-radius: 20px;
}

.container_user .ranking .title {
  width: 100%;
}

.container_user .ranking .title h2 {
  padding-left: 10px;
  font-weight: 500;
}

.container_user .estadisticas {
  margin-top: 20px;
  width: 100%;
  background: var(--blanco-dos);
  border-radius: 20px;
  padding-bottom: 20px;
}

.container_user .estadisticas .title {
  width: 100%;
}

.container_user .estadisticas .title h2 {
  padding-left: 10px;
  font-weight: 500;
}

.container_user .estadisticas .container_estadisticas {
  width: 100%;
  /* display: flex;
  justify-content: space-evenly;
  place-items: center;
  margin-top: 50px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#donut-chart,
#radial-bar-chart{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.grafico p{
  margin: 0;
  text-align: center;
  margin-top: -20px;
  font-size: .8em;
}


.container_user .estadisticas .container_estadisticas_dos {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .container_user .estadisticas .container_estadisticas_dos {
    flex-direction: column;
  }
}

@media (max-width: 1160px) {
  .dashboard_user main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 920px) {
  .container_bienvenida {
    flex-direction: column;
  }

  .container_bienvenida .bienvenida {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 777px) {
  .container_bienvenida {
    margin-top: 60px;
  }

  .dashboard_user main {
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 50px;
    padding: 0;
  }

  .container_user .left,
  .container_user .right {
    width: 98%;
  }
}



.prospectos_list .modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000048;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.prospectos_list .modal-overlay .modal {
  width: 720px;
  max-width: 90%;
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  animation: animate 0.4s ease;
  max-height: 620px;
  overflow-y: auto;
}

.prospectos_list .modal-overlay .modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--gris);
  transition: all 0.4s;
}

.prospectos_list .modal-overlay .modal .close-modal:hover svg {
  color: var(--primario);
}

.prospectos_list .modal .content-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.prospectos_list .modal .content-modal .input input,
.prospectos_list .modal .content-modal .input textarea,
.prospectos_list .modal .content-modal .input select {
  box-sizing: border-box;
  width: 100%;
  height: 2.625em;
  padding: 0 0.75em;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}

.prospectos_list .modal .content-modal .input textarea {
  height: 120px;
  padding-top: 10px;
  outline: none;
  margin: 10px 0;
}

.prospectos_list .modal .content-modal .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.prospectos_list .modal .content-modal .right .inputs{
  width: 100%;
  display: flex;
  gap: 25px;
}

.prospectos_list .modal .content-modal .right .input {
  width: 100%;
  margin-left: 15px;
}

.prospectos_list .modal .content-modal .right .input p{
  margin: 0;
}

.prospectos_list .modal .content-modal .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 25px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.prospectos_list .modal .content-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.prospectos_list .modal .content-modal .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--gris);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.prospectos_list .modal .content-modal .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.prospectos_list .modal .content-modal .switch input:checked + .slider {
  background: var(--success);
}



.prospectos_list .modal .content-modal .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.prospectos_list .modal .content-modal .right .input button{
  width: 95%;
  background: var(--oscuro);
  border-radius: 12px;
  text-align: center;
  height: 45px;
  padding: 0;
  color: var(--blanco);
  cursor: pointer;
  margin: 18px 0;
  transition: all .3s;
}
.prospectos_list .modal .content-modal .right .input button:hover{
  background: var(--oscuro-dos);
}
.prospectos_list .modal .content-modal .right .input .update {
  background: var(--primario);
}

.prospectos_list .modal .content-modal .right .input .update:hover{
  background: var(--secundario);
}

.prospectos_list .modal .content-modal .right .input input{
  width: 95%;
  margin: 10px 0;
}

@media (max-width: 620px) {
  .prospectos_list .modal .content-modal {
    grid-template-columns:  1fr;
  }
  .prospectos_list .modal .content-modal .right .input button{
    width: 97%;
   
  }
  .prospectos_list .modal-overlay .modal {
    max-height: 450px;
    overflow-y: auto;
  }
  
}

@media (max-width: 400px) {
  .prospectos_list .prospectos .filtro .filtros {
    flex-direction: column;
  }

  .prospectos_list .prospectos .filtro .filtros div {
    width: 100%;
  }

  .prospectos_list .prospectos .filtro .filtros div select,
  .prospectos_list .prospectos .filtro .filtros div button {
    text-align: center;
    width: 100%;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
