/* Estilos generales */
.details {
  margin-top: 50px;
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
}

.details.portfolio {
  margin-top: 50px;
}

.head {
  width: 100%;
  padding: 20px;
}

.head button {
  padding: 10px 20px;
  border: none;
  color: var(--blanco);
  background: var(--primario);
  cursor: pointer;
  outline: none;
  border-radius: 15px;
}

.details .recentOrders {
  position: relative;
  display: grid;
  height: auto;
  background: var(--blanco);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .recentOrders p {
  margin-top: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--primario);
}

.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--primario);
  text-decoration: none;
  color: var(--blanco);
  border-radius: 6px;
}

.tabla {
  width: 100%;
}

.details .tabla table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  border-collapse: separate;
  border-spacing: 0 15px;
}

.details .tabla table thead th {
  color: var(--oscuro-dos);
  font-weight: 400;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .tabla table tr {
  padding: 0.35em;
}

.details .tabla table th,
.details .tabla table td {
  padding: 15px 0;
  text-align: center;
}

.details .tabla table th {
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.details .tabla table tbody tr {
  color: var(--oscuro);
  font-size: 0.9em;
  cursor: pointer;
}

.details .tabla table tbody tr:hover {
  background: var(--primario);
}

.details .tabla table tbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.details .tabla table tbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.details .tabla table tbody tr td img {
  max-width: 30px;
}

@media screen and (max-width: 924px) {
  .details .tabla table {
    border: 0;
  }
  .details .tabla table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .details .tabla table tbody tr td:first-child {
    border-radius: 0;
  }

  .details .tabla table tbody tr td:last-child {
    border-radius: 0;
  }

  .details .tabla table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .details .tabla table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    border-radius: 0;
    border-bottom: 1px solid var(--oscuro-tres);
  }

  .details .tabla table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a .details .tabla table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .details .tabla table tbody tr td:first-child {
    border-bottom: 0;
  }

  .details .tabla table tbody tr td:last-child {
    border-bottom: 0;
  }
}

.status {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.active {
  background: #8de02c;
  color: var(--blanco);
}

.status.inactive {
  background: #e9b10a;
  color: var(--blanco);
}

.status.denied {
  background: #f00;
  color: var(--blanco);
}

.status.inProgress {
  background: #1795ce;
  color: var(--blanco);
}

.recentCustomers {
  position: relative;
  display: grid;
  /* min-height: 500px; */
  padding: 20px;
  background: var(--blanco);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .details {
    width: 100%;
    padding: 0;
  }

  .details.portfolio {
    padding: 0;
    margin-top: 30px;
  }
}

.list_testimonial .modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000048;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.list_testimonial .modal-overlay .modal {
  width: 520px;
  max-width: 90%;
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  animation: animate 0.4s ease;
  max-height: 620px;
  overflow-y: auto;
}

.list_testimonial .modal-overlay .modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--gris);
  transition: all 0.4s;
}

.list_testimonial .modal-overlay .modal .close-modal:hover svg {
  color: var(--primario);
}

.list_testimonial .modal .content-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.list_testimonial .modal .content-modal .input input,
.list_testimonial .modal .content-modal .input textarea,
.list_testimonial .modal .content-modal .input select {
  box-sizing: border-box;
  width: 100%;
  height: 2.625em;
  padding: 0 0.75em;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}

.list_testimonial .modal .content-modal .input textarea {
  height: 120px;
  padding-top: 10px;
  outline: none;
  margin: 10px 0;
}

.list_testimonial .modal .content-modal .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list_testimonial .modal .content-modal .right .inputs {
  width: 100%;
  display: flex;
  gap: 25px;
}

.list_testimonial .modal .content-modal .right .input {
  width: 100%;
  margin-left: 15px;
}

.list_testimonial .modal .content-modal .right .input p {
  margin: 0;
}

.list_testimonial .modal .content-modal .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 25px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.list_testimonial .modal .content-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.list_testimonial .modal .content-modal .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--gris);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list_testimonial .modal .content-modal .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list_testimonial .modal .content-modal .switch input:checked + .slider {
  background: var(--success);
}

.list_testimonial .modal .content-modal .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.list_testimonial .modal .content-modal button {
  width: 100%;
  background: var(--oscuro);
  border-radius: 12px;
  text-align: center;
  height: 45px;
  padding: 0;
  color: var(--blanco);
  cursor: pointer;
  margin: 18px 0;
  transition: all 0.3s;
}
.list_testimonial .modal .content-modal button:hover {
  background: var(--oscuro-dos);
}
.list_testimonial .modal .content-modal .update {
  background: var(--primario);
}

.list_testimonial .modal .content-modal .update:hover {
  background: var(--secundario);
}

.list_testimonial .modal .content-modal .input img{
  max-width: 120px;
}

.list_testimonial .modal .content-modal .input input {
  width: 95%;
  margin: 10px 0;
}

@media (max-width: 620px) {
  .list_testimonial .modal .content-modal {
    grid-template-columns: 1fr;
  }
  .list_testimonial .modal .content-modal .right .input button {
    width: 97%;
  }
  .list_testimonial .modal-overlay .modal {
    max-height: 450px;
    overflow-y: auto;
  }
}

@media (max-width: 400px) {
  .list_testimonial .prospectos .filtro .filtros {
    flex-direction: column;
  }

  .list_testimonial .prospectos .filtro .filtros div {
    width: 100%;
  }

  .list_testimonial .prospectos .filtro .filtros div select,
  .list_testimonial .prospectos .filtro .filtros div button {
    text-align: center;
    width: 100%;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
