.portfolio .cardHeader button {
  background: var(--primario);
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--blanco);
  transition: all 0.3s;
}

.portfolio .cardHeader button:hover {
  background: var(--secundario);
}

.swal2-input.file {
  display: none !important;
}

.label-btn {
  display: flex;
  width: 95%;
  margin-left: 10px;
  height: 40px;
  background: var(--primario);
  color: var(--blanco);

  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all .3s;
}

.label-btn:hover{
    background: var(--secundario);
}


.portfolio .modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000048;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.portfolio .modal-overlay .modal {
  width: 520px;
  max-width: 90%;
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  animation: animate 0.4s ease;
  max-height: 620px;
  overflow-y: auto;
}

.portfolio .modal-overlay .modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--gris);
  transition: all 0.4s;
}

.portfolio .modal-overlay .modal .close-modal:hover svg {
  color: var(--primario);
}

.portfolio .modal .content-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.portfolio .modal .content-modal .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.portfolio .modal .content-modal .input input,
.portfolio .modal .content-modal .input textarea,
.portfolio .modal .content-modal .input select {
  box-sizing: border-box;
  width: 100%;
  height: 2.625em;
  padding: 0 0.75em;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}

.portfolio .modal .content-modal .input textarea {
  height: 120px;
  padding-top: 10px;
  outline: none;
  margin: 10px 0;
}

.portfolio .modal .content-modal .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.portfolio .modal .content-modal .right .inputs {
  width: 100%;
  display: flex;
  gap: 25px;
}

.portfolio .modal .content-modal .right .input {
  width: 100%;
  margin-left: 15px;
}

.portfolio .modal .content-modal .right .input p {
  margin: 0;
}

.portfolio .modal .content-modal .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 25px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.portfolio .modal .content-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.portfolio .modal .content-modal .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--gris);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio .modal .content-modal .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio .modal .content-modal .switch input:checked + .slider {
  background: var(--success);
}

.portfolio .modal .content-modal .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.portfolio .modal .content-modal button {
  width: 100%;
  background: var(--oscuro);
  border-radius: 12px;
  text-align: center;
  height: 45px;
  padding: 0;
  color: var(--blanco);
  cursor: pointer;
  margin: 18px 0;
  transition: all 0.3s;
}
.portfolio .modal .content-modal button:hover {
  background: var(--oscuro-dos);
}
.portfolio .modal .content-modal .update {
  background: var(--primario);
}

.portfolio .modal .content-modal .update:hover {
  background: var(--secundario);
}

.portfolio .modal .content-modal .input img{
  max-width: 120px;
}

.portfolio .modal .content-modal .input input {
  width: 95%;
  margin: 10px 0;
}

@media (max-width: 620px) {
  .portfolio .modal .content-modal {
    grid-template-columns: 1fr;
  }
  .portfolio .modal .content-modal .right .input button {
    width: 97%;
  }
  .portfolio .modal-overlay .modal {
    max-height: 450px;
    overflow-y: auto;
  }
}

@media (max-width: 400px) {
  .portfolio .prospectos .filtro .filtros {
    flex-direction: column;
  }

  .portfolio .prospectos .filtro .filtros div {
    width: 100%;
  }

  .portfolio .prospectos .filtro .filtros div select,
  .portfolio .prospectos .filtro .filtros div button {
    text-align: center;
    width: 100%;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
