.dashboard_admin main {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  place-content: center;
  gap: 30px;
  padding: 0 40px;
  margin-top: 50px;
}

.dashboard_admin main .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 100px;
}

.dashboard_admin main .left .card_ingresos {
  width: 100%;
  max-width: 520px;
  border-radius: 20px;

  height: 280px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 151, 2, 1) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("../../../assets/images/Simple.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_admin main .left .card_ingresos p {
  font-size: 1.2em;
}

.dashboard_admin main .left .card_ingresos h2 {
  font-size: 3em;
}

.dashboard_admin main .left .card_ingresos .mes {
  width: 200px;
  height: 50px;
  background: #dedede7c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 0 10px;
}

.dashboard_admin main .left .card_ingresos .mes span {
  text-transform: capitalize;
}

/* buttons */

.dashboard_admin main .left .buttons {
  width: 100%;
  max-width: 520px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
}

.dashboard_admin main .left .buttons button {
  background: #000;
  padding: 12px 18px;
  border-radius: 12px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  width: 100%;
}

.dashboard_admin main .left .buttons button:first-child {
  background: var(--primario);
}

.dashboard_admin main .left .buttons button:first-child:hover {
  background: var(--oscuro);
}

.dashboard_admin main .left .buttons button:last-child {
  background: var(--oscuro);
}

.dashboard_admin main .left .buttons button:last-child:hover {
  background: var(--primario);
}

/* modal */

.modal-buttons .modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #00000048;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-buttons .modal-overlay .modal {
  width: 720px;
  max-width: 90%;
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  animation: animate 0.4s ease;
  max-height: 620px;
  overflow-y: auto;
}

.modal-buttons .modal-overlay .modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--gris);
  transition: all 0.4s;
}

.modal-buttons .modal-overlay .modal .close-modal:hover svg {
  color: var(--primario);
}

.modal-buttons .modal .content-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.modal-buttons .modal .content-modal .input input,
.modal-buttons .modal .content-modal .input textarea,
.modal-buttons .modal .content-modal .input select {
  box-sizing: border-box;
  width: 100%;
  height: 2.625em;
  padding: 0 0.75em;
  transition: border-color 0.1s, box-shadow 0.1s;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 1.125em;
}

.modal-buttons .modal .content-modal .input textarea {
  height: 120px;
  padding-top: 10px;
  outline: none;
  margin: 10px 0;
}

.modal-buttons .modal .content-modal .left,
.modal-buttons .modal .content-modal .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}

.modal-buttons .modal .content-modal .right .inputs {
  width: 100%;
  display: flex;
  gap: 25px;
}

.modal-buttons .modal .content-modal .right .input,
.modal-buttons .modal .content-modal .left .input {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-buttons .modal .content-modal .right .input p {
  margin: 0;
}

.modal-buttons .modal .content-modal .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 25px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.modal-buttons .modal .content-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.modal-buttons .modal .content-modal .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--gris);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-buttons .modal .content-modal .slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.233);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-buttons .modal .content-modal .switch input:checked + .slider {
  background: var(--success);
}

.modal-buttons .modal .content-modal .switch input:checked + .slider:before {
  transform: translateX(1.9em);
}

.modal-buttons .modal .content-modal .right .input button {
  width: 95%;
  background: var(--oscuro);
  border-radius: 12px;
  text-align: center;
  height: 45px;
  padding: 0;
  color: var(--blanco);
  cursor: pointer;
  margin: 18px 0;
  transition: all 0.3s;
}
.modal-buttons .modal .content-modal .right .input button:hover {
  background: var(--oscuro-dos);
}
.modal-buttons .modal .content-modal .right .input .update {
  background: var(--primario);
}

.modal-buttons .modal .content-modal .right .input .update:hover {
  background: var(--secundario);
}

.modal-buttons .modal .content-modal .right .input input {
  width: 95%;
  margin: 10px 0;
}

@media (max-width: 620px) {
  .modal-buttons .modal .content-modal {
    grid-template-columns: 1fr;
  }
  .modal-buttons .modal .content-modal .right .input button {
    width: 97%;
  }
  .modal-buttons .modal-overlay .modal {
    max-height: 450px;
    overflow-y: auto;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* buttons */

/* TEAMS */

.dashboard_admin main .left .equipos {
  width: 100%;
  max-width: 520px;
  background: var(--white);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.dashboard_admin main .left .equipos .head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_admin main .left .equipos .head h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

.dashboard_admin main .left .equipos .lista_equipos {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.dashboard_admin main .left .equipos .lista_equipos::-webkit-scrollbar {
  height: 5px;
  background: #dedede;
}

.dashboard_admin
  main
  .left
  .equipos
  .lista_equipos::-webkit-scrollbar-thumb:hover {
  background: var(--oscuro);
}

.dashboard_admin main .left .equipos .lista_equipos .equipo {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 151, 2, 1) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("../../../assets/images/Simple.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  flex: 0 0 auto;
  width: 80px;
  flex-direction: column;
  scroll-snap-align: start;
}

.dashboard_admin main .left .equipos .lista_equipos .equipo h4,
.dashboard_admin main .left .equipos .lista_equipos .equipo p {
  margin: 0;
}

.dashboard_admin main .left .equipos .lista_equipos .equipo h4 {
  font-size: 2.4em;
  text-transform: uppercase;
}

.dashboard_admin main .left .equipos .lista_equipos .equipo p {
  font-size: 0.7em;
}

/* TEAMS */

/* proyectos */

.dashboard_admin main .left .proyectos {
  width: 100%;
  max-width: 520px;
  background: var(--white);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard_admin main .left .proyectos .head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_admin main .left .proyectos .head h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

.dashboard_admin main .left .proyectos .lista_proyectos {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 12px;
}

.dashboard_admin main .left .proyectos .lista_proyectos .proyecto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_admin main .left .proyectos .lista_proyectos .proyecto .info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboard_admin main .left .proyectos .lista_proyectos .proyecto .info .icono {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 151, 2, 1) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    url("../../../assets/images/Simple.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard_admin
  main
  .left
  .proyectos
  .lista_proyectos
  .proyecto
  .info
  .icono
  h4 {
  font-size: 2em;
  text-transform: uppercase;
}

.dashboard_admin main .left .proyectos .lista_proyectos .proyecto .info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.dashboard_admin
  main
  .left
  .proyectos
  .lista_proyectos
  .proyecto
  .info
  .text
  p {
  margin: 0;
  font-size: 0.9em;
}
/* proyectos */

.dashboard_admin main .right {
  width: 100%;
  margin-bottom: 50px;
  height: 100%;
}

/* tarjetas */

.dashboard_admin main .right .tarjetas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 50px;
}

.dashboard_admin main .right .tarjetas .tarjeta {
  width: 100%;
  height: 280px;
  border-radius: 20px;
  background: var(--oscuro);
  display: grid;
  place-items: center;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner {
  width: 90%;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .icono {
  width: 60px;
  height: 60px;
  background: var(--oscuro-tres);
  display: grid;
  place-items: center;
  border-radius: 15px;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .icono svg {
  font-size: 45px;
  color: var(--primario);
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .content {
  display: flex;
  flex-direction: column;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .content p {
  color: var(--white);
  font-size: 1em;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .content span {
  font-size: 3.2em;
  color: var(--white);
  font-weight: bold;
}

.dashboard_admin main .right .tarjetas .tarjeta .tarjeta_inner .content small {
  color: var(--white);
  font-size: 0.9em;
  margin-top: 10px;
}

.dashboard_admin
  main
  .right
  .tarjetas
  .tarjeta
  .tarjeta_inner
  .content
  small
  strong {
  color: var(--success);
  font-size: 1.1em;
  font-weight: 500;
}

/* tarjetas */

/* progreso equipos */

.dashboard_admin main .right .progreso_equipos {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.dashboard_admin main .right .progreso_equipos .inner_progreso_equipos {
  width: 90%;
}

.dashboard_admin
  main
  .right
  .progreso_equipos
  .inner_progreso_equipos
  .title
  h2 {
  text-align: left;
  font-weight: 500;
  font-size: 1.2em;
}

/* progreso equipos */

/* Prospectos obtenidos */

.dashboard_admin main .right .prospectos_obtenidos {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.dashboard_admin main .right .prospectos_obtenidos .inner_prospectos_obtenidos {
  width: 90%;
}

.dashboard_admin
  main
  .right
  .prospectos_obtenidos
  .inner_prospectos_obtenidos
  .title
  h2 {
  text-align: left;
  font-weight: 500;
  font-size: 1.2em;
}

.dashboard_admin main .right .graficos_dobles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  gap: 15px;
}

@media (min-width: 1820px) {
  .dashboard_admin main .right .graficos_dobles {
    grid-template-columns: 1fr 1fr;
  }
}

/* Prospectos obtenidos */

/* ingresos mensuales */
.dashboard_admin main .right .ingresos_mensuales {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.dashboard_admin main .right .ingresos_mensuales .inner_ingresos_mensuales {
  width: 90%;
}

.dashboard_admin
  main
  .right
  .ingresos_mensuales
  .inner_ingresos_mensuales
  .title
  h2 {
  text-align: left;
  font-weight: 500;
  font-size: 1.2em;
}

/* ingresos mensuales */

@media (max-width: 920px) {
  .dashboard_admin main {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0;
  }

  .dashboard_admin main .left {
    justify-content: center;
    align-items: center;
  }

  .dashboard_admin main .left .card_ingresos,
  .dashboard_admin main .left .buttons,
  .dashboard_admin main .left .equipos,
  .dashboard_admin main .left .proyectos {
    max-width: 100%;
  }

  .dashboard_admin main .left .buttons {
    display: flex;
  }
}

@media (max-width: 490px) {
  .dashboard_admin {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .dashboard_admin main {
    width: 95% !important;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .dashboard_admin main .left {
    width: 100%;
  }
  .dashboard_admin main .left .card_ingresos {
    width: 100%;
    max-width: 100%;
  }

  .dashboard_admin main .right .graficos_dobles {
    display: flex;
    flex-direction: column;
  }
}
